/* -- General Selectors -- */
body {
    font-family: Roboto, 'Inter', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px; /* Set to 16px as default just in case */ 
    background-color: #FCFCFC;
}

/* -- Shared styles -- */
a, body {
    color: #404040;
}
.website-title, .sub-title{
    font-weight: bold;
}
.sign-in-button, .input-field {
    border-radius: 10px;
}
input[type=checkbox], .sign-up-link{
    color: #656D4A;
}

/* -- Titles -- */
.website-title {
    font-size: 3rem;
    /* Backup font color incase gradient doesn't work*/
    color: #979DAC; 
    /* Create gradient text */
    background: linear-gradient(45deg,#001233, #979DAC);
    background-clip: text;
    background-size: 100%;
    /* So that gradient text will show up on Safari and Firefox */ 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
}
.sub-title {
    font-size: 2rem;
}

/* -- Buttons and Input -- */
.sign-in-button {
    color: #ffffff;
    background-color: #656D4A;
}
.input-field {
    border-color: #404040;
}
.remember-password {
    flex-direction: row;
}

/* --- For different screen sizes --- */
/* If current / max width is 350px */
@media screen and (max-width: 350px) {
    .remember-password {
        flex-direction: column;
    }
} 